.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
  border-radius: 5px;
}


.button-container {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
}

.search-container {
  margin-bottom: 30px;
  border-radius: 5px;
}

.search-container h1 {
  margin-bottom: 30px;
  border-radius: 5px
}

